:80 {
    encode gzip zstd

    handle /static/* {
        root * /srv/hioshop/www
        try_files {path} {path}/index.html
        file_server
    }

    handle_path /api/* {
        reverse_proxy server:8360
    }

    handle_path /admin/* {
        reverse_proxy server:8360
    }

    handle {
        reverse_proxy server:8360
    }

    log {
        output stdout
        format console
    }
}
